body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fefefe;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .titleUtente h1{
    text-align: center;
    font-size: 55px;
    letter-spacing: -3.5px;
    font-weight: bold;
} 

header .titleRicetta h1{
    text-align: center;
    font-size: 55px;
    letter-spacing: -3.5px;
    font-weight: bold;
} 
header .returnHome{
    margin-right: 50px;
    text-decoration: none; 
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none; 
    background-color: red;
    padding: 10px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
}

header .returnHome:hover {
    background-color: white;
    color: red;
}

header .returnHome:active {
    color: black;
}

.banner {
    display: none; /* Resta nascosto di default */
    position: fixed; /* Rende il banner fisso sopra tutto */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Copre tutta la pagina */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    z-index: 10000; /* Un valore molto alto per sovrascrivere gli altri elementi */
    justify-content: center;
    align-items: center;
}

.banner-content {
    position: fixed; /* Rende il banner fisso sopra tutto */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 600px;
    width: 600px;
    z-index: 10001; /* Anche il contenuto del banner ha un z-index alto */
}

main {
    height: 100%;
    position: relative;
    padding: 20px;
    margin-top: 150px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
}

.descrizione {
    flex: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.descrizione h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Ingredienti {
    flex: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.Ingredienti p {
    font-size: 16px;
    color: #555;
    white-space: pre-line; 
}

.fotoRicetta {
    flex: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.fotoRicetta img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Preparazione {
    flex: 1; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.Preparazione p {
    font-size: 16px;
    color: #555;
    white-space: pre-line; 
}

.subTitle1Utente{
    flex: 1;
}

.subTitle2Utente{
    flex: 1;
}

.subTitle1Utente p {
    font-size: 20px;
    font-size: large;
    font-weight: bold;
}
.subTitle1Utente p span{
    font-size: large;
    font-weight: normal;
}

.subTitle1Utente h2{
    text-decoration: underline;
    font-size: 30px;
}

.subTitle2Utente h2{
    font-size: 30px;
    text-decoration: underline;
}

.subTitle2Utente p {

    font-size: 20px;
    font-weight: bold;
}
.subTitle2Utente p span {
    font-size: large;
    font-weight: normal;
}

main a{
    text-decoration: none;
}

#drop-area {
    background-color: 
    white;
    padding: 50px;
    height: 200px;
    border: 2px red dashed;
}

#drop-area:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

#nascondiBannerImg {
    position: absolute; /* Posizionamento assoluto dentro il contenuto del banner */
    top: 10px; /* Distanza dal bordo superiore */
    right: 10px; /* Distanza dal bordo destro */
    background-color: red; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: none; /* Rimuove il bordo */
    padding: 10px; /* Padding per il bottone */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer; /* Cursore del mouse per indicare che è cliccabile */
}

#nascondiBannerImg:hover {
    background-color: darkred; /* Colore del bottone al passaggio del mouse */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}

footer a {
    text-decoration: none;
    color: #333333;
    margin: 0 5px;
    transition: color 0.3s;
}

footer a:hover {
    color: #0037ff;
}