#banner  {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    width: 100%;
    justify-content: left;
    align-items: left;
    z-index: 1000;
}

.banner-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
