/*INDEX CSS*/
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #fefefe;
    color: black;
}

/*INDEX header css*/
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0.1, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .title h1{
    text-align: center;
    font-size: 55px;
    letter-spacing: -3.5px;
    font-weight: bold;
}

.logo {
    margin-left: 50px;
}

header .loggato {
    margin-right: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}
header .nonLoggato {
    margin-right: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

header .nonLoggato a{
    text-decoration: none;
    color: white;
    background-color: #0037ff;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #0037ff;
}
header .nonLoggato a:hover{
    color: #0037ff;
    background-color: white;
}

/*INDEX main css*/
main.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainColumn1 {
    padding: 20px;
    border: 2px solid #333; 
    border-radius: 15px; 
    margin: 20px 10px; 
}

.mainColumn2 {
    padding: 20px;
    border: 2px solid #333; 
    border-radius: 15px; 
    margin: 20px 10px; 
}

.contenutoMainColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.contenutoMainColumn a{
    text-decoration: none;
    color:white;
    background-color: #0037ff;
    padding: 20px;
    border: 2px solid #0037ff;
    border-radius: 25px;
    font-size: large;
}

.contenutoMainColumn a:hover{
    text-decoration: none;
    color:#0037ff;
    background-color: white;
}

.ricette {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#ricettaDelGiorno {
    display: flex !important;
}

.ricette > div[class^="ricetta"] {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.ricette .nomeRicetta {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.ricette .descrizioneRicetta {
    font-size: 0.9rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 1.4;
    z-index: 2;
}

.ricette .classFotoRicetta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.goHome{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  /* Spinge il contenuto in basso */
    align-items: flex-end;  /* Allinea il bottone a destra */
    height: 100%;  /* Assicura che occupi tutta l'altezza */
}

/*ACCOUNT CSS*/

/*main CSS*/
main.account {
    width: 100%;
    padding: 20px; /* Aggiungi un po' di spazio all'interno */
    background-color: #ffffff; /* Colore di sfondo del contenuto */
    margin-top: 0; /* Rimuovi eventuali margini extra */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImmagineUtente {
    width: 400px;
    height: 500px;
    border-radius: 50px;
}

.banner {
    display: none; /* Resta nascosto di default */
    position: fixed; /* Rende il banner fisso sopra tutto */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Copre tutta la pagina */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    z-index: 10000; /* Un valore molto alto per sovrascrivere gli altri elementi */
    justify-content: center;
    align-items: center;
}

.banner-content {
    position: fixed; /* Rende il banner fisso sopra tutto */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 600px;
    width: 600px;
    z-index: 10001; /* Anche il contenuto del banner ha un z-index alto */
}

#drop-area {
    background-color: 
    white;
    padding: 50px;
    height: 200px;
    border: 2px red dashed;
}

#drop-area:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

#nascondiBannerImg {
    position: absolute; /* Posizionamento assoluto dentro il contenuto del banner */
    top: 10px; /* Distanza dal bordo superiore */
    right: 10px; /* Distanza dal bordo destro */
    background-color: red; /* Colore di sfondo */
    color: white; /* Colore del testo */
    border: none; /* Rimuove il bordo */
    padding: 10px; /* Padding per il bottone */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer; /* Cursore del mouse per indicare che è cliccabile */
}

#nascondiBannerImg:hover {
    background-color: darkred; /* Colore del bottone al passaggio del mouse */
}



/*FOOTER GENERALE*/
footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 20px;
    background-color: #fefefe;
    height: 50px; 
}

footer p {
    margin: 0; 
}
footer a {
    text-decoration: none;
    color: #333333;
    margin: 0 5px;
}

footer a:hover {
    color: #0037ff;
}