/* Stile Ricette.php */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:blue;

}
/* Stile Header */
header {
    margin: 0;
    display: grid;
    grid-template-columns: 0fr 2fr 0fr;
}

/*HamburgerMenu*/
.menu-btn {
    font-size: 36px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 5px;
    display: flex;
} 
/*Barra di ricerca*/
.search-form {
    display: flex; 
    justify-content: center;
    align-content:center;
    height: 100px;
    position: sticky;
    gap: 10px;
    padding: 30px;
    margin: 0px;
    border: 0px;
}

.search-input {
    display: inline;
    border-radius: 10px;
    width: 70%;
    height: 30%;
    margin: 12px;
}

.button-startSearch {
    display: inline;
    border-radius: 10px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #575757;
}

/* Sidebar (menu laterale) */
.sidebar {
    height: 100%;
    width: 0; /* Menu nascosto inizialmente */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s; /* Animazione apertura/chiusura */
    padding-top: 60px;
    color: white;
    z-index: 1000;
}

/* Link nel menu laterale */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Pulsante per chiudere il menu */
.close-btn {
    font-size: 36px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}  