body {
    background-color: white;
    text-align: center;
    background-image: url(./img/sfondo.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

header{
    text-align: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    border-radius: 10px;
}

header .title{
    font-size: 70px;
    font-weight: bold;
}

header .subtitle {
    padding-top: 10px;
    font-size: 20px;
}

main {
    padding-top: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
}

form {
    flex: 0 0 300px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    padding: 100px 40px;
    width: 50%;
}

#visualizzaPassword {
    position: absolute;
    height: 30px;
    width:30px;
}

.username {
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.password {
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

main button {
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

main button:hover {
    background-color: yellow;
    border-radius: 10px;
}

.registratiCliccabile {
    font-weight: bold;
}

.registratiCliccabile:hover{
    text-transform: uppercases;
    cursor: pointer;
}

.nome {
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.cognome {
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ripetipassword{
    padding: 5px 20px;
    border-radius: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.closeButton:hover{
    background-color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    cursor: pointer;
}

#registerForm{
    position: relative;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}